.AdwApplicationWindow {
	background: rgb(0,0,0);
	background: linear-gradient(145deg, rgba(0,0,0,1) 0%, rgba(134,130,175,1) 4%, rgba(35,79,79,1) 100%);
}
#time_label {
  font-size: 10pt;
}
button.large {
	min-width: 48px;
	min-height: 48px;
}
label.song-title {
	font-size: 15pt;
	font-weight: 800;
	padding-left: 12px;
	padding-right: 12px;
	margin-bottom: 15px;
}
#custom-remove {
  background-color: red;
}
#playing-image {
  color: white;
}
#info-songs-courtesy {
  font-size: 8pt;
}
#main_window {
	background: rgb(0,0,0);
	background: linear-gradient(145deg, rgba(0,0,0,1) 0%, rgba(134,130,175,1) 4%, rgba(35,79,79,1) 100%);
}
#playback-control {
	padding-top: 10px;
	padding-bottom: 50px;
}
#playback-control-2 {
	padding-bottom: 50px;
}
#progress-bar {
	padding-right: 12px;
	padding-left: 12px;
}


